langchain
langsmith
python-dotenv
langchain-openai
langchain-community
langchain-classic
langchain-text-splitters
sqlalchemy
langgraph
faiss-cpu
flashrank
rank_bm25
fastmcp
gspread
tiktoken
pypdf
fastapi
uvicorn
gradio
requests
streamlit
flask
pytest